body{overflow-y:scroll;padding-top:50px}
footer{style:background:#000;}
.view{min-height:100vh;}


    body{margin-left:0;margin-right:0}
    .overlay{background:rgba(0,0,0,0.5);width:100%;top:0;position:fixed;height:100%;z-index:85;display:none;}
    .overlay.on{display:block;cursor:pointer;}
    .asideright{
    width:40%;top:0;position:fixed;right:-40%;background:#fff;z-index:90; height:100%;box-shadow: -2px 0px 2px 1px rgba(0,0,0,0.5);

       -webkit-transition:all 0.7s ease-in-out;
  -moz-transition:all  0.7s ease-in-out;  
  -o-transition:all  0.7s ease-in-out;         
  transition:all  0.7s ease-in-out; 
    }
     .asideright.active{right:0px;
       -webkit-transition:all 0.7s ease-in-out;
  -moz-transition:all  0.7s ease-in-out;  
  -o-transition:all  0.7s ease-in-out;         
  transition:all  0.7s ease-in-out;  
     }
     
.overlayu{position:absolute;width:calc(100% - 30px);background:rgba(0,0,0,0);height:200px;color:#fff; font-size:30px; text-align:center;line-height:100px;
 -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;color:transparent;
  transition: all 0.3s ease-in-out;

}
.fancybox:hover .overlayu{background:rgba(0,0,0,0.6);color:#fff; line-height:200px;
 -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.navbar-default.navbar-fixed-top
{
height:auto}

.navbar-brand{padding:0px;padding-top:6px;}
.navbar-brand img{height:35px}
.navbar-default.navbar-fixed-top.affix  .navbar-default .navbar-nav>li>a
{min-height:35px;height:35px;}
.navbar-default.navbar-fixed-top.affix  .navbar-brand{padding:0px;padding-top:6px;}
.navbar-default.navbar-fixed-top.affix-top  .navbar-brand{padding:0px;padding-top:6px;}

.navbar-default.navbar-fixed-top.affix  .navbar-brand  img{ -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  }
.navbar-default.navbar-fixed-top.affix-top  .navbar-brand  img{ -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  }
.affix {
  padding:0px;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  

}

.affix-top {background:#fff;
  padding-top:25px;
  padding-bottom:25px;
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear;  
}
@media (max-width: 991px) 
{
	.affix-top {
  padding-top:0px;
	}
	.navbar-brand img{margin-left:16px}
}








.navbar-inverse{background:#120f0f;border-bottom:1px solid #ccc;height:30px;min-height:30px;margin:0px}
.navbar-inverse{color:#ccc;text-transform:uppercase;font-size:16px;line-height:30px}
.navbar-inverse li a{min-width:35px;text-align:center;padding:0px 6px;font-size:16px;line-height:30px;border-left:1px solid #ccc; border-right:1px solid #ccc;color:#ccc}
.navbar-inverse li a:focus,.navbar-inverse li a:active,.navbar-inverse .navbar-nav>li>a{color:#ccc}
.navbar-inverse .navbar-nav>li>a:hover{color:#fff;background:#ccc}

.navbar-default{background:#fff;min-height:auto;height:auto;line-height:80px;margin:0px;z-index:100;margin-top:30px;border-bottom:2px solid #000000}
.navbar-default .navbar-nav>li>a{min-height:50px;padding:0 10px;margin:0px; line-height:50px;height:50px;color:#d9a300;text-transform:uppercase;font-size:14px}
.navbar-default .navbar-nav>li.active>a{background:#000;color:#fff;border-bottom:2px solid #d9a300}
.navbar-default .navbar-header {margin-right:0px}
.navbar-default .navbar-nav {background:rgba(0,0,0,0);}
.navbar-nav {margin:0px}
.navbar-default.navbar-fixed-top{height:auto;line-height:50px;margin-top:0px}
.navbar-default.navbar-fixed-top .navbar-brand  img{height:auto;margin-top:6px}
.navbar-default .navbar-brand  img{height:auto;}
.navbar-default .navbar-nav{display:block;}
.navbar-toggle{padding:0px;margin-left:20px}
@media only screen and (min-width: 1024px)  
{
	.navbar-default .navbar-nav {background:rgba(0,0,0,0);}
	.navbar-default .navbar-nav{float:right}
.navbar-default .navbar-header {margin-right:30px}
}
@media only screen and (max-width: 991px)  
{
	
	.navbar-default .navbar-nav{display:block;float:none;}
.navbar-default .navbar-brand img{height:auto;margin-top:6px}
.navbar-default .navbar-nav>li.active>a{font-size:12px;padding:0 8px;}
}
@media only screen and (max-width: 768px)  
{.navbar-default .navbar-header {padding-top:10px}
	.navbar-default .navbar-nav{background:#fff}	
	.navbar-default .container {background:#fff;min-height:auto;border-bottom:2px solid #d9a300}
	.navbar-default.navbar-fixed-top{height:50px;line-height:50px;margin-top:0px}
		.navbar-default.navbar-fixed-top .container {min-height:50px;}
	.navbar-default {background:#fff;border-bottom:2px solid #d9a300;height:auto;margin-top:0px}
}
.list-group-item.active{background:#fdb102;border:none;color:#000;}
.list-group-item.active:hover{background:#fdb102;border:none;color:#000;} 
.navbar-default .navbar-nav>li.active>a:focus,.navbar-default .navbar-nav>li.active>a:hover {background:#fdb102;color:#fff}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {background:#fdb102;color:#fff}
	#back-top2 {
	position: fixed;
	right: 10px;
	bottom: 20px;
	display:none;
	}
	#back-top2 a {
		width: 50px;
		display: block;
		text-align: center;
		font: 12px/100% Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #E4D7CB;
		/* background color transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
		font-weight:bold;
	}
	#back-top2 a:hover {
		color: #E4D7CB;
	}
	/* arrow icon (span tag) */
	#back-top2 span {
		width: 50px;
		height: 50px;
		display: block;
		padding-top:10px;
		margin-bottom: 7px;
		/* rounded corners */
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		/* background color transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
		background-color: #4d4d4d;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#back-top2 a:hover span {
		background-color: #fff;
		color:#000;
	}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
.navbar-default{background:#000}
.navbar-default.navbar-fixed-top .navbar-brand img{height:35px;max-height:35px;}
